body{
  margin: 0%;
  padding: 0%;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Montserrat, sans-serif;
}

.taskInput {
  padding: 60px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px #888888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox{
  display: flex;
  height: 40px;
}

.inputBox input{
  width: 200px;
  padding: 10px;
  border: black 1.5px solid;
}

.taskName{
  padding: 15px;
  border-radius: 10px;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
button{
  margin-left: 10px;
  padding: 6px;
  border: black 1.5px solid;
  border-radius: 5px;
  background-color:  #b3b3ff
;
  cursor: pointer;
}

.todoList {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 70%;
  width: 36%;
  margin: 30px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.header{
  font-weight: 600;
  font-size: 6rem;
  color:   #ccccff;
}

.taskEdit {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  outline: none;
}
